.password-row {
  margin-top: 20px;
}

.info-section{
  display: flex;
  flex-direction: column;
}

.sub-section{
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.instruction{
  margin-left: 15px;
  white-space: break-spaces;
}

.header{
  font-weight: 600;
  margin-right: 10px;
}

i{
  color: #C1C1C1;
  padding-top: 20px;
  margin-right: 15px;
}

.instruction-section{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}