<h5 mat-dialog-title>{{data.title}}</h5>
<div class="info-section">
    <div class="sub-section">
        <span class="header">Test Name: </span>
        <span>{{data.testName}}</span>
    </div>
    <div class="sub-section">
        <span class="header">Subject: </span>
        <span>{{data.subject}}</span>
    </div>
    <div class="sub-section">
        <span class="header">Duration: </span>
        <span>{{data.duration}}</span>
    </div>
    <div class="sub-section">
        <span class="header">Total Marks: </span>
        <span>{{data.totalMarks}}</span>
    </div>
    <div class="info-section">
        <span class="header">Instructions: </span>
        <span class="instruction">{{data.instruction}}</span>
    </div>
    <div class="instruction-section">
        <i class="fas fa-unlock-alt"></i>
        <mat-form-field class="form-control w-100">
            <input matInput type="password" [(ngModel)]="password" placeholder="Please enter your login password">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-center margin">
    <button mat-raised-button  color="blue" (click)="startExam()">Start</button>
    <button mat-raised-button color="orange" (click)="cancel()">Cancel</button>
</div>

