::ng-deep .view-paper-wrap .paper-for-student{
    overflow: hidden;
}

@media only screen and (max-width: 767px){
    ::ng-deep .view-paper-wrap .paper-for-student{
        width: 100%;
        .paper-overflow{
            padding-top: 0 !important;
        }
        .question-control{
            margin-bottom: 20px;
        }
        .answer-label{
            font-size: 13px;
        }
    }
}