.add-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.table-select{
    max-width: 100px;
    padding-right: 15px;
}
.table-date{
    max-width: 130px;
    padding-right: 15px;
}

.mat-stroked-button{
    line-height: 24px;
}