.ques-type-icon{
    margin: 10px 10px 0px 0px;
}

.qtype-img-0{
    content: url(../../../assets/icons/smart-menu-icons-blue/single-select.svg);
}
.qtype-img-1{
    content: url(../../../assets/icons/smart-menu-icons-blue/multi-select.svg);
}
.qtype-img-2{
    content: url(../../../assets/icons/smart-menu-icons-blue/very-short.svg);
}
.qtype-img-3{
    content: url(../../../assets/icons/smart-menu-icons-blue/short.svg);
}
.qtype-img-4{
    content: url(../../../assets/icons/smart-menu-icons-blue/long.svg);
}
.qtype-img-5{
    content: url(../../../assets/icons/smart-menu-icons-blue/fill-the-blank.svg);
}