<div class="question-list">
    <div class="question-list-filter">
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <div class="row white-box">
                    <div class="col-12">
                        <app-common-grade-subject [config]="config" [filterType]="'Question-List'"></app-common-grade-subject>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="buttons">
                    <button mat-button color="blue" (click)="loadData()"><i class="fas fa-search"></i> &nbsp; Search</button>
                    <button mat-button color="orange" (click)="clearFilter()"><i class="fas fa-undo"></i> &nbsp; Reset</button>
                </div>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="questionDataSource" multiTemplateDataRows class="common-table" matSort>
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of questionColumnsToDisplay;let a=index;">
            <ng-container *ngIf="column == 'order'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">#</th>
                <td mat-cell *matCellDef="let element;let row=dataIndex" data-title="#" class="text-center">
                    {{this.paginator.pageIndex * this.paginator.pageSize + row + 1 }}.</td>
            </ng-container>
            <ng-container *ngIf="column == 'Question Type'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Question Type</th>
                <td mat-cell *matCellDef="let element" data-title="Question Type">
                    <span class="qt-type" matTooltip="{{ element['Question Type'] }}">{{ element['Question Type']
                        }}</span>
                </td>
            </ng-container>
            <ng-container *ngIf="column == 'Chapter'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Chapter</th>
                <td mat-cell *matCellDef="let element" data-title="Chapter">
                    {{ (element['Chapter'].length > 30) ? (element['Chapter'] | slice:0:30) + '..' :
                    (element['Chapter']) }}
                </td>
            </ng-container>
            <ng-container *ngIf="column == 'Topic'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Topic</th>
                <td mat-cell *matCellDef="let element" data-title="Topic">
                    {{ (element['Topic'].length > 20) ? (element['Topic'] | slice:0:20) + '..' : (element['Topic']) }}
                </td>
            </ng-container>
            <ng-container *ngIf="column == 'Question'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Question</th>
                <td mat-cell *matCellDef="let element" data-title="Question">
                    <p class="d-block wrap" [appMath]="element['QuestionTextExtract']"></p>
                </td>
            </ng-container>
            <ng-container *ngIf="column == 'Skill Assesed'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Learning level Assessed</th>
                <td mat-cell *matCellDef="let element" data-title="Learning level Assessed" class="text-center">
                    <span matTooltip="{{ element['skill'] }}">{{ element['skill'] }}</span>
                </td>
            </ng-container>
            <ng-container *ngIf="column == 'action'">
                <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                <td mat-cell *matCellDef="let element; let row=dataIndex;" class="mat-column-delete">
                    <button id='actionRow' mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action Icon"
                        (click)="$event.stopPropagation();">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <mat-menu #menu="matMenu" class="menu-items">
                        <button mat-menu-item (click)="editQuestion(element, row)"
                            [disabled]="element.create_user_id == 0"><i class="far fa-edit"></i> &nbsp; Edit</button>
                        <button mat-menu-item (click)="deleteQuestion(element, this.paginator.pageIndex * this.paginator.pageSize + row)"
                            [disabled]="element.create_user_id == 0"><i class="far fa-trash-alt"></i> &nbsp;
                            Delete</button>
                        <button mat-menu-item (click)="report(element)"><i class="fas fa-bug"></i> &nbsp; Report an
                            Issue</button>
                    </mat-menu>
                </td>
            </ng-container>
            <ng-container *ngIf="column == 'expand_icon'">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element; let row=dataIndex;" class="expand-icon text-center"
                (click)="expandQuestion(element, row)">
                    <i class="fas fa-chevron-down" ></i>
                </td>
            </ng-container>
            <ng-container>
                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element" data-title="{{ column }}">{{ element[column] }}</td>
            </ng-container>

        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="questionColumnsToDisplay.length">
                <div class="element-detail" [@detailExpand]="element == expandedQuestion ? 'expanded' : 'collapsed'">
                    <div class="element-diagram">
                        <div class="diagram-detail">
                            <mat-label class="diagram-label">Chapter/Topic:</mat-label>
                            {{ element['Chapter'] }} / {{ element['Topic'] }}
                        </div>
                        <div class="diagram-detail" >
                            <mat-label class="diagram-label">Question (Full Text):</mat-label>
                            <p class="d-block wrap" [appMath]="element['Question']" (click)="openImage($event)"></p>
                        </div>
                        <div class="diagram-detail" *ngIf="element.question_attachment">
                            <mat-label class="diagram-label">Question Attachment:</mat-label>
                            <span class="file-name" (click) = "downloadQuestionAttachment(element['question_attachment'][0]['id'], element['question_attachment'][0]['fileName'])" >
                                {{element["question_attachment"][0]["fileName"]}}</span>
                        </div>
                        <div
                            *ngIf="element['qb_question_type_id'] === 4 || element['qb_question_type_id'] === 5 || element['qb_question_type_id'] === 6">
                            <div class="diagram-detail margin">
                                <mat-label class="diagram-label">Answer: </mat-label>
                                <p *ngIf="element['subjective_answer']!==null" class="d-block wrap" [appMath]="element['subjective_answer']" (click)="openImage($event)"></p>
                            </div>
                            <div class="diagram-detail" *ngIf="element.answer_attachment">
                                <mat-label class="diagram-label">Answer Attachment(s):</mat-label>
                                <span class="file-name" *ngFor="let atch of element['answer_attachment']"
                                (click) = "downloadQuestionAttachment(atch['id'], atch['fileName'])" >
                                    {{atch["fileName"]}}</span>
                            </div>
                        </div>
                        <div
                            *ngIf="element['qb_question_type_id'] === 1 || element['qb_question_type_id'] === 2 || element['qb_question_type_id'] === 3">
                            <div class="diagram-detail margin">
                                <mat-label class="diagram-label">Answer: </mat-label>
                                <div *ngIf="element['objective_answers']!==null">
                                    <span class="d-block"
                                        *ngFor="let answ of element['objective_answers'];let a=index;">
                                        <div class="d-flex flex-column">
                                            <span class="option-no">({{a+1}})</span>
                                            <span [appMath]="answ.optionText +'  '"></span><i
                                            class="fas fa-check correct" *ngIf="answ.isCorrect===true"></i>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="element['qb_question_type_id'] === 7">
                            <div class="diagram-detail margin">
                                <mat-label class="diagram-label">Answer: </mat-label>
                                <div *ngIf="element['objective_answers']!==null">
                                    <span class="d-block"
                                        *ngFor="let answ of element['objective_answers'];let a=index;">
                                        <span [appMath]="'('+(a+1)+') '+ answ.optionText"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="diagram-grid">
                            <div class="diagram-detail">
                                <mat-label class="diagram-label">Difficulty Level:</mat-label>
                                <span class="dl-level" [ngClass]="inferClass(element)">
                                    {{ element['Difficulty Level'] }}</span>
                            </div>
                            <div class="diagram-detail">
                                <mat-label class="diagram-label">Indicative Marks:</mat-label>
                                {{ element.indicative_marks }}
                            </div>
                            <div class="diagram-detail">
                                <mat-label class="diagram-label">Minutes to Solve:</mat-label>
                                {{ element.average_minutes }}
                            </div>
                            <div class="diagram-detail">
                                <mat-label class="diagram-label">Created By:</mat-label>
                                {{ element.create_user }}
                            </div>
                            <div class="diagram-detail">
                                <mat-label class="diagram-label">Last Edited By:</mat-label>
                                {{ element.update_user }}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="questionColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: questionColumnsToDisplay" class="element-row"
            [class.expanded-row]="expandedQuestion === element" [ngClass]="inferClass(element)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" let i="dataIndex;" class="detail-row"></tr>
    </table>
    <mat-paginator #paginator pageSize=10 showFirstLastButtons></mat-paginator>
</div>