.blue-border-box {
  border: 1px solid #0067e3;
  padding: 20px 30px 30px 20px;
  border-radius: 16px;
  margin: 0 30px;
  margin-bottom: 30px;
  min-height: 630px;
  -webkit-box-shadow: -2px 2px 7px #e4e4e4;
  -moz-box-shadow: -2px 2px 7px #e4e4e4;
  box-shadow: -2px 2px 7px #e4e4e4;
  .head-node-label {
    padding-top: 12px;
    color: #0067e3;
  }
}

.navigate-button{
  margin-top: 50px;
  margin-bottom: 20px;
}

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #0067e3 !important;
}

.show{
  margin-left: 10px;
}

.margin{
  margin-top: 30px;
}
.center {
  text-align: center;
}

.promote{
  top: 50%;
}

.year-label{
  margin-top: 20px;
}

.tables{
  max-height: 400px;
  overflow: scroll;
}

.make-blue{
  background-color: #e7ecf3;
}

@media only screen and (max-width:767px){
  .dropdown {
    margin-top: 15px;
  }
  .footer{
    display: none;
  }
  .mat-row:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

@media only screen and (max-width:510px)
{
  .buttons{
    display: flex;
    flex-direction: column;
  }

  button + button{
    margin-top: 20px;
  }
}

@media only screen and (min-width:510px)
{
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
}