

@media only screen and (max-width:500px){
    .mat-dialog{
        min-width: 450px !important;
    }
}
@media only screen and (min-width: 500px) and (max-width:700px){
    .mat-dialog{
        min-width: 500px !important;
    }
}
@media only screen and (min-width: 700px) and (max-width:767px){
    .mat-dialog{
        min-width: 560px !important;
    }
}

@media only screen and (min-width: 767px) and (max-width:991px){
    .mat-dialog{
        min-width: 560px !important;
    }
}

@media only screen and (min-width: 991px) and (max-width:1200px){
    .mat-dialog{
        min-width: 740px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1600px){
    .mat-dialog{
        min-width: 905px !important;
    }
}

@media only screen and (min-width:1600px) and (max-width:2500px){
    .mat-dialog{
        min-width: 1225px !important;
    }
}

@media only screen and (min-width:2500px){
    .mat-dialog{
        min-width: 1900px !important;
    }
}

@media only screen and (max-width:600px){
    .d-flex{
        flex-direction: column;
    }
    button{
        margin-top: 10px;
    }
    mat-dialog-actions{
        padding: 10px !important;
    }
}
#donutChart {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}
