.margin{
    margin-right: 20px;
}

i{
    color: #C1C1C1;
  padding-top: 20px;
  font-size: 12px;
}

.current {
  margin-right: 30px;
}

.unlock {
  margin-right: 15px;
}

.eye {
  margin-left: 15px;
}

.warning {
  color: red;
}


@media only screen and(min-width: 420px){
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and(max-width: 420px){
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    button + button {
        margin-top: 15px;
    }
}